input[type="text"] {
  border: $default-border;
  background: $default-light-grey;
  border-radius: 8px;
  padding: 6px 14px;
  height: 40px;
  outline: none;
  font-size: 13px;
  font-weight: 500;
  width: 388px;
  line-height: 17px;
  transition: 0.2s;

  &:focus {
    border: 1px solid $primary-color;
  }
}