.options-select {
  padding: 6px 14px;
  border: $default-border;
  background-color: $default-light-grey;
  border-radius: 6px;
  font-size: 13px;
  height: 40px;

  option {
    padding: 20px;
  }
}
