$primary-color: #7862EB;
$hover-color: #9381ef;
$box-shadow-header: 0px 1px 0px 0px #12203B17;

$default-black: #282828;
$default-white: #FFFFFF;
$default-grey: #E4E4E7;
$default-light-grey: #F6F6F6;
