$primary-color: #7862eb;
$hover-color: #9381ef;

$default-black: #282828;
$default-white: #ffffff;
$default-grey: #e4e4e7;
$default-light-grey: #f6f6f6;

$box-shadow-header: 0px 1px 0px 0px #12203b17;
$default-border: 1px solid $default-grey;

$additional-color: #28282d;
