.registration-body {
  &__form {
    padding: 16px 32px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    border: #E4E4E7 1px solid;
    border-radius: 30px;
  }

  &__header {
    font-size: 28px;
    font-weight: 500;
  }

  &__select-button {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    gap: 23px;
    height: 60px;
    width: 100%;
    border: #E4E4E7 1px solid;
    border-radius: 8px;
    transition: .5s ease ;

    &:hover {
      background-color: #F3F3F5;
    }

    &:active {
      background-color: #F3F3F5;
    }

    &--active {
      background-color: #F3F3F5;
    }
  }

  &__button {
    margin-top: 8px;
    width: 190px;
  }
}